* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}
body {
  width: 100%;
  height: 100%;
}
.pera {
  font-size: 25px;
  margin-left: 13.2%;
  margin-top: 60px;
  text-transform: uppercase;
  font-family: sans-serif;
  font-weight: 600;
}
.change {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.container {
  display: grid;
  grid-template-rows: 100px 100px 100px 100px 100px 100px 100px 100px;
  grid-template-columns: 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px;
  gap: 55px;
  position: absolute;
  margin-top: 2%;
  overflow: hidden;
  margin-left: 10%;
}

.item1 {
  grid-row: 2/ 4;
  grid-column: 1 /6;

  background-image: url("WhatsApp\ Image\ 2024-06-28\ at\ 9.48.37\ AM.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 50px;
  transition: transform 0.3s ease 0s;
}
.item1:hover {
  transform: scale(1.5);
}

.item2 {
  grid-area: 2/6/3/11;
  overflow: hidden;
  border-radius: 30px;
  display: flex;
  justify-content: space-between;
}

.alfa1 {
  height: 100px;
  overflow: hidden;
  width: 150px;
  height: 100px;
  background-color: pink;
  /* // 30 0 0 30// */
  border-radius: 30px 0px 0px 30px;
  text-transform: uppercase;
}

.alfa1 p {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 25%;
}

.alfa2 {
  background-image: url(Starbucks-Coffee-PNG-Transparent.png);

  height: 100px;
  overflow: hidden;
  width: 100px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: white;
  animation-name: moveup;
  animation-duration: 3s;
  animation-timing-function: ease-in;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-duration: normal;
}
@keyframes moveup {
  0% {
    transform: translateY(-100px);
  }
  50% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(100px);
  }
}

.alfa3 {
  background-image: url(square-1470943709-starbucks-strawberryjelly.jpg);

  height: 100px;
  overflow: hidden;
  width: 100px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  animation-name: movedown;
  animation-duration: 3s;
  animation-timing-function: ease-in;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-duration: normal;
}
@keyframes movedown {
  0% {
    transform: translateY(100px);
  }
  /* 50% {
    transform: translateY(0px);
  } */
  100% {
    transform: translateY(-100px);
  }
}

.alfa4 {
  background-image: url(starbucks-coffee-cup-paper-YaKzvY4-600.jpg);

  height: 100px;
  overflow: hidden;
  width: 100px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  animation-name: moveup;
  animation-duration: 3s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-duration: normal;
}
.alfa5 {
  background-image: url(starbucks-logo1.jpg);

  height: 100px;
  overflow: hidden;
  width: 100px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  animation-name: movedown;
  animation-duration: 3s;
  animation-timing-function: ease-in;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-duration: normal;
}
.item3 {
  grid-area: 4/4/6/1;

  background-image: url(WhatsApp\ Image\ 2024-06-28\ at\ 9.45.56\ AM.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 50px;
  transition: transform 0.3s ease 0s;
}
.item3:hover {
  transform: scale(1.1);
}
.item3 p {
  font-size: 26px;
  text-transform: capitalize;
  font-weight: 400;
  margin-left: 10%;
  margin-top: 5%;
  font-family: sans-serif;
}

.item4 {
  grid-area: 4/4/6/7;

  background-image: url(Old-Fashioned_Grilled_Cheese_and_Turkey_Pesto_Panini-1200x800.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  border-radius: 50px;
  background-color: pink;

  transition: transform 0.3s ease 0s;
}
.item4:hover {
  transform: scale(1.1);
}
.item4 p {
  font-size: 26px;
  text-transform: capitalize;
  font-weight: 400;
  margin-left: 10%;
  margin-top: 5%;
  font-family: sans-serif;
}

.item5 {
  grid-area: 3/7/6/9;
  transition: transform 0.3s ease 0s;
  background-image: url(WhatsApp\ Image\ 2024-06-28\ at\ 9.45.55\ AM.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 50px;
}
.item5:hover {
  transform: scale(1.1);
}
.item5 p {
  font-size: 26px;
  text-transform: capitalize;
  font-weight: 400;
  margin-left: 10%;
  margin-top: 5%;
  font-family: sans-serif;
}

.item6 {
  grid-area: 3/9 /6/11;
  transition: transform 0.3s ease 0s;
  background-image: url(WhatsApp\ Imag.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 50px;
}

.item6:hover {
  transform: scale(1.1);
}
.item6 p {
  font-size: 26px;
  text-transform: capitalize;
  font-weight: 400;
  margin-left: 10%;
  margin-top: 5%;
  font-family: sans-serif;
}

.item7 {
  grid-area: 6 /1/8/7;
  transition: transform 0.3s ease 0s;
  background-image: url(WhatsApp\ Image\ 2024-06-28\ at\ 9.49.51\ AM.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 50px;
}

.item7:hover {
  transform: scale(1.1);
}
.item7 p {
  font-size: 26px;
  text-transform: capitalize;
  font-weight: 400;
  margin-top: 5%;
  margin-left: 10%;
  font-family: sans-serif;
  color: aliceblue;
}
.item8 {
  grid-area: 8/7/6/9;
  transition: transform 0.3s ease 0s;
  background-image: url(WhatsApp\ Image\ 2024-06-28\ .jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 50px;
}

.item8:hover {
  transform: scale(1.1);
}
.item8 p {
  font-size: 26px;
  text-transform: capitalize;
  font-weight: 400;
  margin-left: 10%;
  margin-top: 5%;
  font-family: sans-serif;
}

.item9 {
  grid-area: 8 /11/6/9;
  transition: transform 0.3s ease 0s;
  background-image: url(Wha.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 50px;
}
.item9:hover {
  transform: scale(1.1);
}
.item9 p {
  font-size: 26px;
  text-transform: capitalize;
  font-weight: 400;
  margin-left: 10%;
  margin-top: 5%;
  font-family: sans-serif;
}
#page3 {
  height: 100%;
  width: 100%;
}
.top {
  height: 40%;
  width: 100%;
  border-radius: 50px;
  overflow: hidden;
}
.greenbox {
  display: flex;
  margin-top: 40px;
  overflow: hidden;
  border-radius: 50px;
  margin-left: 2%;
  margin-right: 2%;
  background-color: #035803;
}
.btn {
  display: flex;
}

.btn button {
  background-color: transparent; /* Transparent background */
  border: 1px solid white; /* 1px white border */
  /* color: white; /* White text */
  padding: 7px 6px; /* Padding for button */
  cursor: pointer; /* Pointer cursor on hover */
  font-size: 16px; /* Font size for text */
  transition: background-color 0.3s, color 0.3s;
  border-radius: 25px;
  color: #fff;
  justify-content: space-between;
  margin-left: 50px;
  text-transform: capitalize;
  margin-bottom: 4%;
}
.giftcard {
  height: 39.2vh;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.giftcard h3 {
  color: #fff;
  width: -50%;
  font-weight: 800;
  font-size: 30px;
}
.giftcard p {
  color: #fff;
}

.cards {
  display: flex;
}
.card {
  flex: 0 0 18vw;
  margin: 0 10px;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  animation-name: moveleft;
  animation-duration: 2s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-iteration-count: infinite;
}
.part-1 {
  position: relative;
  padding: 10px;
  height: 30vh;
  background-color: rgb(248, 248, 248);
  border: 1px solid black;
  margin: 20px 20px;
  border-radius: 20px;
}
.sec2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh;
  width: 100%;
  margin: 0;
  background-color: #035803;
}
#square {
  width: 500px;
  height: 1000px;
  background: #90ee90;
}

.containe {
  display: flex;
  height: min-content;
  width: min-content;
}
.circle {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: black;
  border-radius: 50%;
  transition: width 0.2s ease, height 0.2s ease;
  pointer-events: none;
  opacity: 0.7;
}

.section {
  display: flex;
  flex-direction: column;
  margin: 0 10px;

  overflow: hidden;
  height: 300px; /* Adjust as needed */
  width: 450px; /* Adjust as needed */
  position: relative;
  justify-content: space-between;
}

.section img {
  width: 400px;
  height: 400px; /* Adjust as needed */
  object-fit: cover;
  padding: 5%;
}

@keyframes scroll-up {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(-100%);
  }
}

@keyframes scroll-down {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(100%);
  }
}

.section.up img {
  animation: scroll-up 6s linear infinite;
}

.section.down img {
  animation: scroll-down 6s linear infinite;
}

.section img:nth-child(1) {
  animation-delay: 0s;
}
.section img:nth-child(2) {
  animation-delay: 3s;
}
.section img:nth-child(3) {
  animation-delay: 6s;
}

.middle {
  height: fit-content;
  margin-top: 2%;
  margin-left: 5%;
  margin-bottom: 2%;
}
/* .middle p {
} */

.part-1 img {
  width: 100%;
  height: 90%;
}
.top-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.maincontainer {
  background-color: #035803;
}
.top-section button {
  background-color: rgb(12, 99, 0);
  color: rgb(255, 255, 255);
  font-size: 14px;
  display: flex;
  align-items: center;
  border-radius: 20px;
  border: 1px solid white;
  padding: 10px 10px;
}
.top-section i {
  font-size: 20px;
  color: #f00;
}
.card-content {
  padding: 10px;
}
.card-content h3 {
  font-size: 16px;
  margin-bottom: 5px;
}
.card-content p {
  font-size: 14px;
  color: #777;
  margin-bottom: 10px;
}
.price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
}
.price i {
  font-size: 24px;
  color: #000;
}
.navigation {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
}
.nav-btn {
  background-color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
}
.nav-btn i {
  font-size: 24px;
}
